/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background and font for the whole page */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #74ABE2, #5563DE);
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Style for main heading */
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

/* Style for subheading */
h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #f4f4f4;
}
/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background and font for the whole page */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #74ABE2, #5563DE);
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Style for main heading */
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

/* Style for subheading */
h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #f4f4f4;
}
