/* styles.css */
body { 
    /* set a light gray background color and a default font */
    background-color: linear-gradient(to right, #6a3093, #a044ff);
    font-family: Arial, sans-serif; /* sets a clear, moder font for better readability */
    color:antiquewhite ; /* sets a dark text color for contrast against the light background */
    margin: 0; /* removes default margin */
    padding: 0; /* removes default padding */
    display: flex; /* enables flexbox layout */
    justify-content: center; /* centers content horizontally */ 
    align-items: center; /* centers content vertically */
    height: 100vh; /* makes the body take full viewport height */
}


